<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__about">
        <div class="footer__about-title custom-title">О нас</div>
        <div class="footer__about-text custom-text">
          Выкуп б/у шин, дисков, колес по Москве
        </div>
      </div>
      <div class="footer__adress">
        <div class="footer__adress-title custom-title">Адресс в Москве</div>
        <div class="footer__adress-text custom-text">
          17-й проезд Марьиной Рощи, 13с5
        </div>
      </div>
      <div class="footer__tel">
        <div class="footer__tell-title custom-title">Номера</div>
        <div class="footer__tell-text custom-text">8 (917) 510-03-23</div>
        <div class="footer__tell-text custom-text custom-text-last">
          8 (915) 166-73-15
        </div>
        <div class="footer__tell-icon">
          <img class="tell__icon" src="../img/logo/feedback.svg" alt="" />
          <img class="tell__icon" src="../img/logo/viber.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="copyright__text">Copyright © 2009 - 2021</div>
    </div>
  </div>
</footer>
