<div class="partners-block">
  <div class="container">
    <div class="partners-block__inner">
      <img class="footer__img" src="../img/footer_logo/fulda.svg" alt="" />
      <img class="footer__img" src="../img/footer_logo/kumho.svg" alt="" />
      <img class="footer__img" src="../img/footer_logo/general.svg" alt="" />
      <img class="footer__img" src="../img/footer_logo/avon.svg" alt="" />
      <img class="footer__img" src="../img/footer_logo/fulda.svg" alt="" />
      <img class="footer__img" src="../img/footer_logo/fulda.svg" alt="" />
    </div>
  </div>
</div>
